/* 
    Document   : kidsbuzz
    Created on : 31-mrt-2015, 11:01:52
    Author     : Navarre
    Description:
        Purpose of the stylesheet follows.
*/

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

#logopic {
    margin: -10px;
    width: 80%;
}

#wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
}

.pictogram {
  display: inline-block;
  width: 160px;
  text-align: center;
  margin: 10px;
  vertical-align: top;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #35ba7f;
  max-height: 200px;
}

h1.titel {
  vertical-align: top;
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-weight: 300;
  color: #0097bd;
  margin-left: 15px
}

.pictogram img {
  display: block;
  clear: both;
  width: 100px;
  margin: auto;
}

img#detailpictogram {
  float: left;
  margin-bottom: -10px;
}

section#detailinfo {
  float: left;
  margin: 10px 0px 10px 10px;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  color: #0097bd;
  line-height: 36px;
}

section#detailinfo i {
    color: #35ba7f;
}

article.descriptie {
  clear: both;
  margin: 30px 10px;
  display: block;
  color: #034557;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

section#detailinfo span {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #606060;
  font-weight: 400;
  line-height: 25px;
}

section.link {
  margin: 10px 10px;
  line-height: 15px;
}

.starrating {
  float: right;
  margin: 20px 30px 0px 10px;
  color: #e91111;
}

#myCarousel {
  height: 300px;
}

#blackground {
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.3;
}

.modal-dialog {
    z-index: 1;
}

.modal-content {
    min-width: 200px;
    margin: auto;
}

.modal-dialog form {
     width: 100px;
     margin: 0 auto;
}

    